@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&family=Yomogi&family=Yatra+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d8e2f1;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.announcement {
  font-family: 'Yomogi', cursive;
  font-weight: 900;
  text-align: center;
}

/* TEST */
.header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 2rem; */
  height: 200px;
  align-items: center;
}

.header::before {    
  content: "";
  background-image: url("./assets/poolpano2.jpeg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.45;
}

#search {
  width: 25rem;
}

.search-field {
  margin: 1rem!important;
}

.btn {
  margin: 0% 1%;
}

.search-button {
  margin: 1rem!important;
}

.carousel-header {
  font-family: 'Yatra One', cursive;
}

.App-footer {
  background-color: #61CD42;
  max-height: 20vh;
  margin-top: 50px;
  padding: 1% 5%;
  bottom: 0;
  /* padding: 1rem; */
  display: block;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  color: white;
}

.flexboxHorizontal {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.terms-container {
text-align:left !important;
}

.tour-abstract {
  border: 1px solid black;
  margin: 1rem;
  padding-bottom: 1rem;
}

.abstract-header {
  background-image: linear-gradient(to bottom right, #055342, #18ddb2);
  opacity: 0.75;
  color: white;
  padding: .25rem;
  margin-bottom: 1.5rem;
  font-family: 'Yomogi', cursive;
}

.tour-header {
  /* background-image: linear-gradient(to bottom right, #055342, #18ddb2);
  opacity: 0.75;
  color: white; */
  padding: .25rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-family: 'Yatra One', cursive;
}

.tour-thumbnail {
  max-height: 10rem;
}

.carousel {
  /* max-height: 20rem!important; */
  /* width: 40rem!important; */
  padding: none!important;

}

.carousel-container {
  align-content: center;

}

.carousel-root {
  align-content: center;
  max-width: 40rem;
  margin: auto;
}

.tour-name{
  margin: none;
}

.tour-details {
  background-color: rgb(193, 214, 255);
  border: 1px solid black;
  margin: 2rem!important;
}

.categories {
  background-color: #c3d8f7;
  height: 100%;
  padding: 3rem;
}

.abstract-link {
  text-decoration: none;
}

.abstract-link:hover {
  text-decoration: none;

}

.tour-abstract:hover {
  transition: 0.25s ease-in-out;
  box-shadow: 5px 5px 5px rgb(176, 176, 247)
}

.user-role {
  width: 20rem;
}